<div class="tab-pane show" id="stress-relief" role="tabpanel"
    aria-labelledby="stress-relief-tab">
    <h3 class="text-danger text-center">
      Stress Relief
    </h3>
    <hr class="border-danger">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card mb-3 shadow-sm">
              <div class="card-header px-4 py-3 shadow-sm">
                <h4 class="mb-0"><i class="bi bi-person me-2 shadow"></i>&nbsp;Kittehs!</h4>
              </div>
              <div class="card-body">
                  <img src="https://placekitten.com/200/300" alt="cute picture of kittens" />
              </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card mb-3 shadow-sm">
              <div class="card-header px-4 py-3 shadow-sm">
                <h4 class="mb-0"><i class="bi bi-person me-2 shadow"></i>&nbsp;Pooches</h4>
              </div>
              <div class="card-body">
                  <img src="https://place.dog/200/300" alt="cute picture of dogs" />
              </div>
            </div>
        </div>
    </div>
  </div>