</div> <!-- End of class="dashBoardContainer" -->
<div class="addWing"></div>
</div> <!-- End of class="row" -->
</div> <!-- End of main container-fluid -->


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>

<!-- <script type="text/javascript">
  $('#myTab li:first-child a').tab('show') // Select first tab
</script> -->
</body>

</html>